@import 'normalize.css';
@import '../node_modules/highlight.js/styles/hybrid.css';

:root {
  --gray20: #f4f4f6;
  --gray50: #e8e8ee;
  --gray100: #dcdce4;
  --gray200: #d0d0d8;
  --gray300: #c4c4cc;
  --gray400: #b8b8c0;
  --gray500: #808088;
  --gray600: #686870;
  --gray700: #505058;
  --gray800: #38383e;
  --gray900: #202026;
  --gray1000: #08080e;
  --blue20: #f0f5ff;
  --blue100: #b4dcfc;
  --blue300: #78b6e8;
  --blue500: #4794d5;
  --blue700: #0278be;
  --blue900: #0062a5;
}

body {
  font-family: Lato, Verdana, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  letter-spacing: 0.08em;
}

pre {
  background: var(--gray900);
  color: #fff;
  font-size: 0.88rem;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  padding: 24px;
  white-space: pre-wrap;
}

code {
  font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.Index {padding: 24px;}

.Header {
  padding: 24px;
  &__title {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0;
    &__anchor {
      color: var(--gray900);
      text-decoration: none;
    }
  }
}

.PageList {padding-left: 24px;}

.PageListItem {
  padding: 2px 0;
  &__createdAt {
    color: var(--gray400);
    font-size: 0.75rem;
    letter-spacing: 0.04em;
    margin: 0 0 0 8px;
  }
}

.PageFooter{
  background: var(--gray20);
  margin-top: 40px;
  width: 100%;
  &__inner {
    display: flex;
    flex-direction: row;
  }
}

@define-mixin FooterNav {
  display: flex;
  flex: 1;
  p {margin: 0;}
  &__anchor {
    box-sizing: border-box;
    display: block;
    padding: 24px;
    text-decoration: none;
    width: 100%;
    &:hover {background: var(--gray50);}
    &__title {padding-bottom: 4px;}
    &__createdAt {
      color: var(--gray400);
      font-size: 0.75rem;
      letter-spacing: 0.04em;
      margin: 0;
    }
  }
}
.FooterNav--Prev {@mixin FooterNav;}
.FooterNav--Next {
  @mixin FooterNav;
  border: 0 0 0 1px solid var(--gray200);
  text-align: right;
}

.Post {
  box-sizing: border-box;
  max-width: 768px;
  padding: 24px;
}

.PostHeader {
  margin: 0 0 88px 0;
  &__title {
    font-size: 3rem;
    font-weight: 400;
    &__createdAt {
      font-size: 0.88rem
    }
  }
}
