@charset 'UTF-8'

//-------------------------------
// Settings
//-------------------------------

@import 'normalize.css/normalize.css'
@import 'github-markdown-css/github-markdown.css'

//-------------------------------
// Base
//-------------------------------

html, body
  font-size: 16px
  letter-spacing: 0.04em
