@charset 'UTF-8'

//-------------------------------
// Settings
//-------------------------------

@import 'normalize.css/normalize.css'
@import 'github-markdown-css/github-markdown.css'
@import 'zenigame'

//-------------------------------
// Base
//-------------------------------

html, body
  font-family: Lato, Verdana, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  font-size: 16px
  letter-spacing: 0.04em

#react-mount
  maxsize(768px, auto)
  box-sizing: border-box
  padding: 0 24px

//-------------------------------
// MarkDown
//-------------------------------

@import 'markdown'
