@charset 'UTF-8'

//-------------------------------
// Settings
//-------------------------------

@import 'normalize.css/normalize.css'
@import 'zenigame'

//-------------------------------
// Base
//-------------------------------

html, body
  font-family: Lato, Verdana, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  font-size: 16px
  letter-spacing: .02em

a
  text-decoration: none
  &:link
    color: $blue700
  &:visited
    color: $blue900
  &:hover
    color: $blue500
    text-decoration: underline
  &:active
    color: $blue800
    text-decoration: underline

//-------------------------------
// Components
//-------------------------------

.Index
  padding: 48px 24px 24px 24px

.Header
  box-shadow(0 0 8px rgba($gray900, .08))
  size(100%, 25px)
  align-items: center
  background: #fff
  box-sizing: border-box
  display: flex
  flex-direction: row
  padding: 0 24px
  position: fixed
  top: 0
  &__title
    font-size: 1rem
    font-weight: 600
    margin: 0
    width: 40px
  &__nav
    display: flex
    padding-left: 16px
    &__item
      font-size: .88rem
      margin: 0 8px

.PageList
  padding-left: 24px

.PageListItem
  padding: 2px 0
  &__createdAt
    color: $gray400
    font-size: .75rem
    letter-spacing: .04em
    margin: 0 0 0 8px

.PageFooter
  size(100%, auto)
  background: $gray50
  margin-top: 40px
  &__inner
    display: flex
    flex-direction: row

.FooterNav
  display: flex
  flex: 1
  p
    margin: 0
  &__anchor
    box-sizing: border-box
    display: block
    padding: 24px
    width: 100%
    &:hover
      background: $gray100
      text-decoration: none
    &__title
      padding-bottom: 4px
    &__createdAt
      color: $gray400
      font-size: .75rem
      letter-spacing: .04em
      margin: 0 0 0 8px

.FooterNav--Prev
  @extend .FooterNav

.FooterNav--Next
  @extend .FooterNav
  border(0 0 0 1px, solid, $gray200)
  text-align: right

.Post
  maxsize(768px, auto)
  box-sizing: border-box
  padding: 48px 24px 24px 24px

.PostHeader
  margin: 0 0 40px 0
  &__title
    font-size: 3rem
    font-weight: 400
  &__createdAt
    font-size: .88rem

//-------------------------------
// MarkDown
//-------------------------------

@import 'markdown'
